.foto{
  border: 3px ;
  border-radius: 3px;
  border-color: blue;
  border-style: double;
  align-self: center;
}
.columns {
  float: left;
  max-width: 30%;
  margin: 0;
}
.wrap {
  width: 60%;
  margin: 80px auto;
  position: relative;
}
img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -125px;
}
.left {
  float: left;
  width: 49%;
}
.right {
  float: right;
  width: 49%;
}
.left:before, .right:before {
  content: "";
  width: 125px;
  height: 250px;
}
.left:before {
  float: right;
}
.right:before {
  float: left;
}